openapi: 3.1.0
info:
  title: Scale AI REST Batches Projects API
  description: 'The Scale REST API is the unified programmatic surface for Scale''s data

    engine. It is resource-oriented with JSON responses, supports live and

    sandbox modes via API key, and is versioned at v1. This OpenAPI is an

    API Evangelist research artifact covering core resources — tasks, batches,

    and projects — based on the public reference at api-reference.scale.com.

    '
  version: 1.0.0
  contact:
    name: API Evangelist
    url: https://apievangelist.com
servers:
- url: https://api.scale.com/v1
  description: Scale REST API (v1)
security:
- BasicAuth: []
tags:
- name: Projects
paths:
  /projects:
    get:
      summary: List all projects
      operationId: listProjects
      tags:
      - Projects
      responses:
        '200':
          description: Projects.
    post:
      summary: Create a project
      operationId: createProject
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                type:
                  type: string
      responses:
        '200':
          description: Project created.
  /projects/{project_name}:
    get:
      summary: Retrieve a project
      operationId: retrieveProject
      tags:
      - Projects
      parameters:
      - name: project_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A project.
  /projects/{project_name}/setParams:
    post:
      summary: Update project parameters
      operationId: updateProjectParams
      tags:
      - Projects
      parameters:
      - name: project_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Project parameters updated.
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic authentication. Use your Scale API key (live or sandbox) as

        the username and leave the password blank.

        '
